@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900&display=swap");
:root {
  --color-white: #fff;
  --color-background: #f4f4f4;
  --color-text-light: #cccccc;
  --color-text-normal: #bbbbbb;
  --color-text-dark: #707070;
  --color-text-accent: #8bc24a;
  --shadow: 0 0 0.3rem rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito', 'Segoe UI', sans-serif;
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  background-color: var(--color-background);
}

.page {
  display: -ms-grid;
  display: grid;
  position: relative;
  width: 100%;
  -ms-grid-rows: 5rem max-content;
      grid-template-rows: 5rem -webkit-max-content;
      grid-template-rows: 5rem max-content;
}

@media (min-width: 600px) {
  .page {
    -ms-grid-rows: 6rem max-content;
        grid-template-rows: 6rem -webkit-max-content;
        grid-template-rows: 6rem max-content;
  }
}

.page--function-page {
  -ms-grid-rows: 7.5rem max-content;
      grid-template-rows: 7.5rem -webkit-max-content;
      grid-template-rows: 7.5rem max-content;
}

.top-bar {
  background-color: var(--color-white);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.5rem;
  -ms-grid-columns: 1fr max-content;
      grid-template-columns: 1fr -webkit-max-content;
      grid-template-columns: 1fr max-content;
}

.top-bar--function-page {
  -ms-grid-columns: 2rem 1fr 2rem;
      grid-template-columns: 2rem 1fr 2rem;
      grid-template-areas: 'home title .' 'nav nav nav';
  -ms-grid-rows: 5rem 1fr;
      grid-template-rows: 5rem 1fr;
}

.top-bar--function-page__title {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
}

@media (min-width: 600px) {
  .top-bar {
    padding: 0 2.5rem;
  }
}

@media (min-width: 1000px) {
  .top-bar {
    padding: 0 3rem;
  }
}

.top-bar__title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-text-dark);
}

.top-bar__title--center {
  text-align: center;
}

@media (min-width: 600px) {
  .top-bar__title {
    font-size: 2.2rem;
  }
}

.top-bar__link {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: home;
}

.top-bar__link svg {
  font-size: 1.8rem;
  color: var(--color-text-dark);
  cursor: pointer;
}

.top-bar .nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: nav;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
}

@media (min-width: 600px) {
  .top-bar .nav {
    max-width: 50rem;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.top-bar .nav__item {
  font-size: 1.4rem;
  color: var(--color-text-normal);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (min-width: 600px) {
  .top-bar .nav__item {
    margin: 0 3rem;
  }
}

.top-bar .nav__item:not(.nav__item--selected):hover {
  color: var(--color-text-dark);
}

.top-bar .nav__item--selected {
  color: var(--color-text-accent);
  position: relative;
}

.top-bar .nav__item--selected::after {
  content: '';
  display: block;
  position: absolute;
  left: -5%;
  bottom: -0.45rem;
  height: 0.15rem;
  width: 110%;
  background-color: var(--color-text-accent);
}

.top-bar > svg {
  font-size: 1.6rem;
  color: var(--color-text-dark);
  cursor: pointer;
}

@media (min-width: 600px) {
  .top-bar > svg {
    display: none;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 3rem 1.5rem;
}

@media (min-width: 470px) {
  .content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 600px) {
  .content {
    padding: 3rem 2.5rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 1000px) {
  .content {
    padding: 1.5rem;
  }
}

.function-container {
  width: 100%;
  height: auto;
  background-color: var(--color-white);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  padding: 1rem 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10rem;
      grid-template-columns: 1fr 10rem;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-transition: ease-out 0.15s;
  transition: ease-out 0.15s;
  margin-bottom: 2rem;
}

.function-container:hover {
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
}

@media (min-width: 470px) {
  .function-container {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 1rem 5rem;
  }
}

@media (min-width: 600px) {
  .function-container {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 1.5rem;
    row-gap: 1.5rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 10rem max-content;
        grid-template-rows: 10rem -webkit-max-content;
        grid-template-rows: 10rem max-content;
        grid-template-areas: 'svg' 'info';
    justify-items: center;
    padding: 1rem 4rem 2rem 4rem;
  }
}

.function-container__left {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content max-content;
      grid-template-rows: -webkit-max-content -webkit-max-content;
      grid-template-rows: max-content max-content;
  text-align: right;
  font-weight: normal;
}

@media (min-width: 600px) {
  .function-container__left {
    grid-area: info;
    text-align: center;
  }
}

.function-container__name {
  font-size: 2.2rem;
  color: var(--color-text-dark);
  line-height: 1.8rem;
}

@media (min-width: 600px) {
  .function-container__name {
    font-size: 2.5rem;
  }
}

.function-container__formula {
  font-size: 1.8rem;
  color: var(--color-text-normal);
}

@media (min-width: 600px) {
  .function-container__formula {
    font-size: 2rem;
  }
}

.function-container svg {
  width: 10rem;
  height: 10rem;
}

@media (min-width: 600px) {
  .function-container svg {
    grid-area: svg;
  }
}

.info-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 60rem;
  margin: auto;
}

@media (min-width: 600px) {
  .info-page {
    padding: 3rem 2.5rem;
  }
}

@media (min-width: 1000px) {
  .info-page {
    padding: 4rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    max-width: 140rem;
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.panel {
  width: 100%;
  height: auto;
  background-color: var(--color-white);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.panel--large-padding {
  padding: 2rem 3rem;
}

.panel--large-padding-vertical {
  padding: 2rem 2rem;
}

.text {
  font-size: 1.8rem;
  font-weight: normal;
  color: var(--color-text-normal);
  text-align: left;
}

.text--center {
  text-align: center;
  margin: auto;
}

.text--semi-big {
  font-size: 2rem;
}

.text--headline {
  color: var(--color-text-dark);
  font-size: 2rem;
}

.text--small {
  font-size: 1.6rem;
  line-height: 1rem;
}

.text--light {
  color: var(--color-text-light);
}

.text--highlighted {
  color: var(--color-text-accent);
  font-weight: 600;
}

.text--multiline {
  line-height: 1;
}

.text--dark-bold {
  color: var(--color-text-dark);
  font-weight: bold;
}

.text--inline {
  display: inline-block;
}

.text--margin-right {
  margin-right: 1rem;
}

.text--grid-middle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text--border-bottom-dark {
  border-bottom: 0.15rem solid var(--color-text-dark);
  margin-bottom: -0.05rem;
}

.text--border-bottom {
  border-bottom: 0.15rem solid var(--color-text-light);
  margin-bottom: -0.05rem;
}

.text--padding-horizontal {
  padding: 0 0.5rem;
}

.text--padding-vertical {
  padding: 0.5rem 0;
}

.text--pos-grid {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.list {
  width: 100%;
  text-align: left;
}

.list > tbody > tr > td {
  padding-top: 2rem;
}

.list > tbody > tr > td:first-child {
  width: 1%;
  padding-right: 1rem;
  padding-top: 1.7rem;
  vertical-align: top;
}

.function-plotter {
  width: 100%;
  padding: 1rem;
}

.function-plotter__canvas {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: var(--color-white);
}

.empty-space {
  height: 2rem;
}

.empty-space--small {
  height: 1rem;
}

.slider {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content max-content;
      grid-template-rows: -webkit-max-content -webkit-max-content;
      grid-template-rows: max-content max-content;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin: 1.5rem 0;
  row-gap: 0.5rem;
}

.slider__labels {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2rem 1fr 2rem;
      grid-template-columns: 2rem 1fr 2rem;
  text-align: center;
  color: var(--color-text-light);
  font-size: 1.5rem;
}

.slider__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 0.5rem;
  background-color: var(--color-background);
  border-radius: 10rem;
  outline: none;
}

.slider__input::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 1.8rem;
  height: 1.8rem;
  background-color: var(--color-white);
  cursor: pointer;
  border: 0.15rem solid var(--color-text-light);
  border-radius: 50%;
}

.equation {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  line-height: 1;
}

.equation--large-spacing {
  border-spacing: 0 1rem;
}

.equation tr td:nth-child(1) {
  text-align: right;
  width: 1%;
}

.equation tr td:nth-child(2) {
  text-align: center;
  width: 1%;
  padding: 0 0.5rem;
}

.equation tr td:nth-child(4) {
  padding-left: 4rem;
}
/*# sourceMappingURL=index.css.map */