$breakPc: 1000px;
$breakTablet: 600px;
$breakPhone: 470px;

:root {
	--color-background: #2c313c;
	--color-container: #282c34;
	--color-topBar: #21252b;
	--color-text-1: #ccc;
	--color-text-2: #bbb;
}

@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', 'Segoe UI', sans-serif;
	text-decoration: none;
}

html {
	font-size: 10px;
}

body {
	background-color: var(--color-background);
}

.page {
	display: grid;
	grid-template-rows: max-content max-content;
	position: relative;
	width: 100%;
}

// COPONENTS

.top-bar {
	width: 100%;
	max-width: 100vw;
	height: auto;
	background-color: var(--color-topBar);
	padding: 1.7rem 5rem;
	display: grid;
	grid-template-columns: max-content max-content max-content 1fr;
	align-items: center;

	@media (max-width: $breakTablet) {
		grid-template-columns: max-content 1fr;
		padding: 1.2rem 3rem;
	}

	&__logo {
		color: var(--color-text-1);
		font-size: 2.5rem;
		font-weight: 900;
		height: 4rem;

		@media (max-width: $breakTablet) {
			display: none;
		}
	}

	&__border {
		width: 0.4rem;
		height: 4rem;
		background-color: var(--color-background);
		margin: 0 2.5rem;
		border-radius: 10rem;

		@media (max-width: $breakTablet) {
			display: none;
		}
	}

	&__title {
		color: var(--color-text-1);
		font-size: 2.2rem;
		font-weight: 600;
	}

	&__children {
		display: grid;
		justify-items: right;
		align-items: center;
	}
}

.function-list-container {
	display: flex;
	width: 100%;
	max-width: 100vw;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 3rem;

	@media (max-width: $breakPhone) {
		padding: 3rem 1rem;
		justify-content: center;
	}

	&__function {
		width: 40rem;
		max-width: 100%;
		background-color: var(--color-container);
		padding: 1rem 3rem;
		display: grid;
		grid-template-columns: 1fr max-content;
		column-gap: 2.5rem;
		align-items: center;
		justify-items: right;
		cursor: pointer;
		transition: 0.3s ease-out;

		@media (max-width: $breakPhone) {
			width: 100%;
		}

		&:hover {
			transform: scale(1.02);
		}
	}

	&__name {
		text-align: right;
		font-size: 3rem;
		color: var(--color-text-1);
		font-weight: 600;
		line-height: 0.9;

		@media (max-width: $breakPhone) {
			font-size: 2.5rem;
		}
	}

	&__image {
		width: 14rem;
		height: 14rem;
		background-size: cover;
		background-position: center center;

		@media (max-width: $breakPhone) {
			width: 12rem;
			height: 12rem;
		}
	}
}

.content {
	width: 100%;
	max-width: 150rem;
	height: auto;
	justify-self: center;
	padding: 5rem 7rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 3rem;
	column-gap: 3rem;
	align-items: flex-start;

	@media (max-width: $breakPc) {
		padding: 3rem;
	}

	@media (max-width: $breakTablet) {
		padding: 1.5rem;
		grid-template-columns: 1fr;
		row-gap: 1.5rem;
	}
}

.panel {
	width: 100%;
	background-color: var(--color-container);

	&.headline {
		text-align: center;
		font-size: 4rem;
		color: var(--color-text-1);
		font-weight: bold;
		grid-column: 1 / 3;
		padding: 1.5rem 1rem;

		@media (max-width: $breakTablet) {
			grid-column: 1;
		}
	}
}

.function-plotter {
	width: 100%;
	padding: 2rem;
	position: relative;
	display: grid;
	place-content: center center;

	canvas {
		width: 100%;
		height: max-content;
		background-color: var(--color-container);
	}
}
