@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900&display=swap");
:root {
  --color-background: #2c313c;
  --color-container: #282c34;
  --color-topBar: #21252b;
  --color-text-1: #ccc;
  --color-text-2: #bbb;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito', 'Segoe UI', sans-serif;
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  background-color: var(--color-background);
}

.page {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content max-content;
      grid-template-rows: -webkit-max-content -webkit-max-content;
      grid-template-rows: max-content max-content;
  position: relative;
  width: 100%;
}

.top-bar {
  width: 100%;
  max-width: 100vw;
  height: auto;
  background-color: var(--color-topBar);
  padding: 1.7rem 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content max-content 1fr;
      grid-template-columns: -webkit-max-content -webkit-max-content -webkit-max-content 1fr;
      grid-template-columns: max-content max-content max-content 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .top-bar {
    -ms-grid-columns: max-content 1fr;
        grid-template-columns: -webkit-max-content 1fr;
        grid-template-columns: max-content 1fr;
    padding: 1.2rem 3rem;
  }
}

.top-bar__logo {
  color: var(--color-text-1);
  font-size: 2.5rem;
  font-weight: 900;
  height: 4rem;
}

@media (max-width: 600px) {
  .top-bar__logo {
    display: none;
  }
}

.top-bar__border {
  width: 0.4rem;
  height: 4rem;
  background-color: var(--color-background);
  margin: 0 2.5rem;
  border-radius: 10rem;
}

@media (max-width: 600px) {
  .top-bar__border {
    display: none;
  }
}

.top-bar__title {
  color: var(--color-text-1);
  font-size: 2.2rem;
  font-weight: 600;
}

.top-bar__children {
  display: -ms-grid;
  display: grid;
  justify-items: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.function-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 100vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 3rem;
}

@media (max-width: 470px) {
  .function-list-container {
    padding: 3rem 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.function-list-container__function {
  width: 40rem;
  max-width: 100%;
  background-color: var(--color-container);
  padding: 1rem 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content;
      grid-template-columns: 1fr -webkit-max-content;
      grid-template-columns: 1fr max-content;
  -webkit-column-gap: 2.5rem;
          column-gap: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: right;
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

@media (max-width: 470px) {
  .function-list-container__function {
    width: 100%;
  }
}

.function-list-container__function:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.function-list-container__name {
  text-align: right;
  font-size: 3rem;
  color: var(--color-text-1);
  font-weight: 600;
  line-height: 0.9;
}

@media (max-width: 470px) {
  .function-list-container__name {
    font-size: 2.5rem;
  }
}

.function-list-container__image {
  width: 14rem;
  height: 14rem;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 470px) {
  .function-list-container__image {
    width: 12rem;
    height: 12rem;
  }
}

.content {
  width: 100%;
  max-width: 150rem;
  height: auto;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 5rem 7rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  row-gap: 3rem;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 1000px) {
  .content {
    padding: 3rem;
  }
}

@media (max-width: 600px) {
  .content {
    padding: 1.5rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }
}

.panel {
  width: 100%;
  background-color: var(--color-container);
  padding: 2rem;
  overflow-x: hidden;
}

.panel.headline {
  text-align: center;
  font-size: 4rem;
  color: var(--color-text-1);
  font-weight: bold;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  padding: 1.5rem 1rem;
}

@media (max-width: 600px) {
  .panel.headline {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.function-plotter {
  width: 100%;
  padding: 2rem;
  position: relative;
  display: -ms-grid;
  display: grid;
  place-content: center center;
}

.function-plotter canvas {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: var(--color-container);
}

.headline {
  color: var(--color-text-1);
  font-size: 2.3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.slider {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content 2rem;
      grid-template-rows: -webkit-max-content 2rem;
      grid-template-rows: max-content 2rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  position: relative;
  row-gap: 0.7rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-top: 3rem;
}

.slider__bar {
  width: 95%;
  height: 0.8rem;
  background-color: var(--color-background);
  border-radius: 10rem;
  position: relative;
  -ms-grid-column-align: center;
      justify-self: center;
}

.slider__bar::before {
  content: '';
  position: absolute;
  width: 0.6rem;
  height: 2rem;
  background-color: var(--color-background);
  left: 50%;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  border-radius: 10rem;
}

.slider__labels {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content 1fr;
      grid-template-columns: 1fr -webkit-max-content 1fr;
      grid-template-columns: 1fr max-content 1fr;
  text-align: left;
  color: var(--color-text-2);
  font-size: 1.5rem;
}

.slider__labels span:last-child {
  text-align: right;
}

.slider__handle {
  width: 2rem;
  height: 2rem;
  background-color: var(--color-text-1);
  border-radius: 50%;
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
  cursor: pointer;
  position: absolute;
  left: 50%;
}

.slider__value {
  text-align: center;
  color: var(--color-text-1);
  position: absolute;
  top: -1.5rem;
  font-size: 1.2rem;
  width: 100%;
}

.empty-space {
  height: 0;
  width: 0.1rem;
  display: block;
}
/*# sourceMappingURL=index.css.map */