@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900&display=swap");
:root {
  --color-background: #2c313c;
  --color-container: #282c34;
  --color-topBar: #21252b;
  --color-text-1: #ccc;
  --color-text-2: #bbb;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito', 'Segoe UI', sans-serif;
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  background-color: var(--color-background);
}

.page {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content max-content;
      grid-template-rows: -webkit-max-content -webkit-max-content;
      grid-template-rows: max-content max-content;
  position: relative;
  width: 100%;
}

.top-bar {
  width: 100%;
  height: auto;
  background-color: var(--color-topBar);
  padding: 1.7rem 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content max-content 1fr;
      grid-template-columns: -webkit-max-content -webkit-max-content -webkit-max-content 1fr;
      grid-template-columns: max-content max-content max-content 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .top-bar {
    -ms-grid-columns: max-content 1fr;
        grid-template-columns: -webkit-max-content 1fr;
        grid-template-columns: max-content 1fr;
    padding: 1.2rem 3rem;
  }
}

.top-bar__logo {
  color: var(--color-text-1);
  font-size: 2.5rem;
  font-weight: 900;
  height: 4rem;
}

@media (max-width: 600px) {
  .top-bar__logo {
    display: none;
  }
}

.top-bar__border {
  width: 0.4rem;
  height: 4rem;
  background-color: var(--color-background);
  margin: 0 2.5rem;
  border-radius: 10rem;
}

@media (max-width: 600px) {
  .top-bar__border {
    display: none;
  }
}

.top-bar__title {
  color: var(--color-text-1);
  font-size: 2.2rem;
  font-weight: 600;
}

.top-bar__children {
  display: -ms-grid;
  display: grid;
  justify-items: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.function-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 3rem;
}

@media (max-width: 470px) {
  .function-list-container {
    padding: 3rem 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.function-list-container__function {
  width: 40rem;
  background-color: var(--color-container);
  padding: 1rem 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content;
      grid-template-columns: 1fr -webkit-max-content;
      grid-template-columns: 1fr max-content;
  -webkit-column-gap: 2.5rem;
          column-gap: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: right;
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.function-list-container__function:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.function-list-container__name {
  text-align: right;
  font-size: 3rem;
  color: var(--color-text-1);
  font-weight: 600;
  line-height: 0.9;
}

@media (max-width: 470px) {
  .function-list-container__name {
    font-size: 2.5rem;
  }
}

.function-list-container__image {
  width: 14rem;
  height: 14rem;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 470px) {
  .function-list-container__image {
    width: 12rem;
    height: 12rem;
  }
}

.content {
  width: 100%;
  height: auto;
  padding: 5rem 7rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  row-gap: 4rem;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.panel {
  width: 100%;
  background-color: var(--color-container);
}

.panel.headline {
  text-align: center;
  font-size: 4rem;
  color: var(--color-text-1);
  font-weight: bold;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  padding: 3rem 1rem;
}

.function-plotter {
  width: 100%;
  padding: 2rem;
  position: relative;
  display: -ms-grid;
  display: grid;
  place-content: center center;
}

.function-plotter canvas {
  width: 600;
  height: 530;
  background-color: var(--color-container);
}
/*# sourceMappingURL=index.css.map */